<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Employee Filter</h2>
    </div>
    <div class="panel-body"> 
         <form (ngSubmit)="onSubmit()">
           <div class="row">
           <div class="col-md-8">
              <div class="form-group">                   
                  <input type="text" class="form-control" id="name" placeholder="Search by name,email,mobile number and department.."   [(ngModel)]="name" name="name">
              </div>
           </div>
           <div class="col-md-4">
              <button type="submit" class="btn btn-success  float-left">Search</button> 
             </div>
           </div>     
          
        </form>
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Employee List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th> 
            <th>Email</th>
            <th>Contact Number</th>
            <th>Gender</th>
            <th>Date Of Birth</th>
            <th>Department</th>
            <th>Language</th>
            <th>Address</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employees | async">
            <td>{{employee.name}}</td>
            <td>{{employee.emailId}}</td>
            <td>{{employee.contactNumber}}</td>
            <td>{{employee.gender}}</td>
            <td>{{employee.dateOfBirth}}</td>
            <td>{{employee.department}}</td>
            <td>{{employee.programmingLanguage}}</td>
            <td>{{employee.presentAddress}}</td>
            <td>
              <button (click)="deleteEmployee(employee.id)" class="btn btn-danger">Delete</button>
               <!-- <button (click)="employeeDetails(employee.id)" class="btn btn-info" style="margin-left: 10px">Details</button> -->
               <button (click)="employeeUpdate(employee.id)" class="btn btn-primary" style="margin-left: 10px">Edit</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>